{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <form action = "{% url 'new' %}" method = 'POST'>
        {% csrf_token %}
        <label>Title:</label>
        <input type = "title" name = "title" placeholder="Enter a title">
        <br>
        <label>Markdown:</label>
        <br>
        <textarea name = "content" style = "height: 50vh"></textarea>
        <br>
        <input type = "submit" value = "New Page" class = "btn btn-primary">
    </form>
{% endblock %}